@page "/"
@inject NavigationManager UriHelper
@layout EmptyLayout
<Header />
<div class="hero">
    <div class="heroLeft">
        <div class="title">Farm Ledger</div>
        <div class="subtitle">Track your farm activity</div>
        <div>
            <button class="landing-btn" @onclick="@NavigateLogin">Login</button>
            <button class="landing-btn" @onclick="@NavigateSignup">Signup</button>
        </div>
    </div>
    <img class="logoLarge" src="logo.png" alt="logo" />

</div>

<div class="pricing-cards">
    <div class="card">
        <div class="cardTitle">Bronze</div>
        <div class="cardPrice">€5/month Base</div>
        <div class="cardFeatures">
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Vaccine tracking</div>
            </div>
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Weight tracking</div>
            </div>
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Feed estimation</div>
            </div>
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Wool estimation</div>
            </div>
        </div>
        <div class="cardFooter">
            <button class="buttonFooter upgradeButtonBronze" @onclick="@NavigateLogin">Upgrade</button>
        </div>
    </div>
    <div class="card">
        <div class="cardTitle">Silver</div>
        <div class="cardPrice">€15/month Base</div>
        <div class="cardFeatures">
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Everything from Bronze Tier</div>
            </div>
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">One Site free</div>
            </div>
        </div>
        <div class="cardFooter">
            <button class="buttonFooter upgradeButtonSilver" @onclick="@NavigateLogin">Upgrade</button>
        </div>
    </div>

    <div class="card">
        <div class="cardTitle">Gold</div>
        <div class="cardPrice">€25/month Base</div>
        <div class="cardFeatures">
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">Everything from Silver Tier</div>
            </div>
            <div class="cardFeature">
                <img class="tick" src="tick.png" alt="check mark" />
                <div class="cardFeatureTitle">10% off total invoice</div>
            </div>
        </div>
        <div class="cardFooter">
            <button class="buttonFooter upgradeButtonGold" @onclick="@NavigateLogin">Upgrade</button>
        </div>
    </div>

</div>


@code {

    void NavigateLogin()
    {
        UriHelper.NavigateTo("/login");
    }

    void NavigateSignup()
    {
        UriHelper.NavigateTo("/signup");
    }

}